<html>
    <head>
        <title>DvDs for you </title>
        <!--
            <link rel="stylesheet" href="stylesheet.css">
        -->
    </head>
    <body>
        <table>
            <tr>
                <td><img src="images/DvD.png"></td>
                <td><h2> DV DvDs </h2></td>
                <td><img src="images/DvD.png"></td>
            </tr>
        </table>
        {{>navbar}}

        
        {{{body}}}
        <h3><i>Dominic Vadala</i></h3>
    </body>
</html>